[Unit]
Description=klaudo
After=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/klaudo listen
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
