[Unit]
Description=klaude
After=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/klaude listen
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
